<ul class="list-group">
  <li class="list-group-item title"> Tabela de Produtos <a> <img  src={{iconeAjuste}} width="20" heigth="20"> </a> </li>
  <li class="list-group-item">
    Item 1 da Lista
    <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeConfig}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li>
  <li class="list-group-item">
    Item 2 da Lista
    <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeConfig}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li>
  <li class="list-group-item">
    Item 3 da Lista
    <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeConfig}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li>
  <li class="list-group-item">
    Item 4 da Lista
    <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeConfig}} width="20" heigth="20"> </a>
    <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li>
</ul>
