<div class="externo">
    <!-- HEAD COM LOGO -->
    <nav class="navbar navbar-expand-sm bg-dark">
        <a class="navbar-brand">
            <img src={{iconeLogo}} alt="Logo" style="width:40%">
        </a>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item login">
            <button type="button" class="btn btn-dark"> Login <img src={{iconeLogin}} width="30" heigth="30" alt=""> </button>
        </li>
      </ul>
    </nav>

    <!--SideBar-->
    <div class="container-fluid">
    <div class="row content">
        <ul class="nav nav-pills flex-column col-sm-2 sidenav">
            <div class="card" style="width: 14rem;">
                <ul class="list-group list-group-flush">
                  <a routerLink="" routerLinkActive="active"> <li class="list-group-item"> <img src={{iconeHome}} height="30" width="30"> &nbsp;&nbsp;&nbsp;&nbsp; Inicio </li> </a>
            <a> <li class="list-group-item"> <img src={{iconeConta}} height="30" width="30"> &nbsp;&nbsp;&nbsp;&nbsp; Conta </li>  </a>
            <a> <li class="list-group-item"> <img src={{iconeAjuste}} height="30" width="30"> &nbsp;&nbsp;&nbsp;&nbsp; Ajustes</li> </a>
            <a> <li class="list-group-item"> <img src={{iconeConfig}} height="30" width="30"> &nbsp; Configurações </li> </a>
            <a  routerLink="/visual" routerLinkActive="active"> <li class="list-group-item"> <img src={{iconeVisual}} height="30" width="30"> &nbsp;&nbsp;  Visualizar </li> </a>
            <a> <li class="list-group-item"> <img src={{iconeChat1}} height="30" width="30"> &nbsp;&nbsp;&nbsp;&nbsp; Contato </li> </a>
            <a> <li class="list-group-item"> <img src={{iconeSair}} height="30" width="30"> &nbsp;&nbsp;&nbsp;&nbsp;  Sair </li> </a>
                </ul>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <div class="card footer text-center">
                V1.4512
                <br>
                º 2018 ProjetoR.
              </div>
            </div>
              </ul>

      <br><br><br><br>
      <!--CENTRO DA PAGINA - Visual-->
    <div class="col">
      <br><br><br>
      <app-visual></app-visual>
    </div>

    </div>
    </div>
  </div>
