.teste.container {
  height: 20%;
  width: 100%;
  margin: auto;
  padding: 0;
}

.externo{
  background-color: whitesmoke;
}

.card ul a{
  background-color: white;
}

.card ul a:hover li{
  background-color: orange;
}

@font-face{
  font-family: 'Bold';
  src: url('/src/app/Fontes/FiraSans-Bold.otf');
}

.card ul a:focus li{
  background-color: orange;
}

