<div class="externo">
  <!-- HEAD COM LOGO -->
  <nav class="navbar navbar-expand-sm bg-dark">
      <a class="navbar-brand">
          <img src={{iconeLogo}} alt="Logo" style="width:40%">
      </a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item login">
          <button type="button" class="btn btn-dark"> Login <img src={{iconeLogin}} width="30" heigth="30" alt=""> </button>
      </li>
    </ul>
  </nav>


  <!--SideBar-->

  <div class="container-fluid">
    <div class="row side">
    <ul class="nav col-sm-2 sidenav">
      <div class="card" style="width: 14rem;">
          <ul class="list-group list-group-flush">
            <a routerLink="" routerLinkActive="active"> <li class="list-group-item"> <img src={{iconeHome}} height="30" width="30"> Inicio </li> </a>
            <a> <li class="list-group-item"> <img src={{iconeConta}} height="30" width="30">  Conta </li>  </a>
            <a> <li class="list-group-item"> <img src={{iconeAjuste}} height="30" width="30"> Ajustes</li> </a>
            <a> <li class="list-group-item"> <img src={{iconeConfig}} height="30" width="30"> Configurações </li> </a>
            <a  routerLink="/visual" routerLinkActive="active"> <li class="list-group-item"> <img src={{iconeVisual}} height="30" width="30">  Visualizar </li> </a>
            <a> <li class="list-group-item"> <img src={{iconeChat1}} height="30" width="30"> Contato </li> </a>
            <a> <li class="list-group-item"> <img src={{iconeSair}} height="30" width="30">  Sair </li> </a>
          </ul>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <div class="card footer text-center">
            V1.4512
            <br>
            º 2018 ProjetoR.
          </div>
        </div>

    </ul>


    <!--CENTRO DA PAGINA - Mapa e Tabela-->
  <div class="col">
    <br><br>
    <div class="container teste">
        <ul class="list-group">
            <li class="list-group-item title"> Mapa de Calor - Vendas 2018
              <a> <img  src={{iconeAjuste}} width="20" heigth="20"> </a> </li>
        </ul>
      <app-mapa></app-mapa>
    </div>
    <br><br><br>
    <div class="row-md-3 justify-content-center">
      <app-tab-prod></app-tab-prod>
    </div>
  </div>

  <!--Canto Direito - GRAFICOS-->
  <div class="col-md-4 justify-content-end">
    <app-dashboard></app-dashboard>
    <div class="row-md-4 justify-content-end">
      <app-dashboard2></app-dashboard2>
    </div>
  </div>

  </div>
  </div>

</div>
