.teste.container {
  height: 20%;
  width: 100%;
  margin: auto;
  padding: 0;
}

.teste.container ul li{
  font: 16px SemiBold;
}

.externo{
  background-color: whitesmoke;
}

.card ul a{
  background-color: white;
}

.card ul a:hover li{
  background-color: orange;
}

.card ul a:focus li{
  background-color: orange;
}

.card ul a li{
  font: 14px Regular;
}

.card.footer{
  font: 14px Bold;
}
