<ul class="list-group">
<div class="meio">  <li class="list-group-item title">Lista 1 | 01.01.2019  <a> <img  src={{iconeAdd}} width="20" heigth="20"> </a></li> </div> <br>
  <div class="meio">  <li class="list-group-item">
      <a> <img  src={{iconeCam}} width="20" heigth="20"> </a>
       Item 1 da Lista <time>09:12</time>
       <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
       <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
       <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
       </li>
  </div>
  <br>
  <div class="meio">  <li class="list-group-item">
        <a> <img  src={{iconeEnv}} width="20" heigth="20"> </a>
        Item 2 da Lista <time>10:00</time>
        <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
        <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
        <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
    </li> </div>
    <br>
    <div class="meio"> <li class="list-group-item">
      <a> <img  src={{iconePizza}} width="20" heigth="20"> </a>
      Item 3 da Lista <time>10:37</time>
      <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
      <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
      <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li> </div>
  <br>
  <div class="meio"> <li class="list-group-item">
      <a> <img  src={{iconeLupa}} width="20" heigth="20"> </a>
      Item 4 da Lista <time>14:12</time>
      <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
      <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
      <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li>
  </div>
  <br>
  <div class="meio"><li class="list-group-item">
      <a> <img  src={{iconeChat2}} width="20" heigth="20"> </a>
      Item 5 da Lista <time>16:18</time>
      <a> <img  src={{iconeStar}} width="20" heigth="20"> </a>
      <a> <img  src={{iconeCopy}} width="20" heigth="20"> </a>
      <a> <img  src={{iconeLix}} width="20" heigth="20"> </a>
  </li>
  </div>
</ul>
